@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.menu-btn {
  position: absolute;
  z-index: 10;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  transform: translate(100%, 0); }
  .menu.show {
    visibility: visible;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background: linear-gradient(rgba(1, 87, 155, 0.6), rgba(51, 51, 51, 0.7));
    backdrop-filter: blur(5px);
    transform: translate(0, 0);
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .menu-branding {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu-branding .image-wrap {
      width: 200px;
      height: 200px; }
    .menu-branding .portrait {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid #eee; }
  .menu-nav {
    margin: 0;
    padding: 0;
    height: 65vh;
    list-style: none; }
  .menu .nav-item {
    transform: translate(600px, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate(0, 0); }
    .menu .nav-item.current > a {
      color: #eca113; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    text-align: start;
    font-size: 26px;
    padding: 1rem 0;
    font-weight: 600;
    color: #fff;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #d49111; }

.nav-item:nth-child(1) {
  transition-delay: 0.15s; }

.nav-item:nth-child(2) {
  transition-delay: 0.3s; }

.nav-item:nth-child(3) {
  transition-delay: 0.45s; }

.nav-item:nth-child(4) {
  transition-delay: 0.6s; }

* {
  box-sizing: border-box; }

body {
  background: linear-gradient(#01579b, #001e36);
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bg-img4.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5.5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 1.8rem;
    padding: 0.2rem 0; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-primary {
  color: #0173ce; }

.text-secondary {
  color: #bd810f; }

main {
  padding: 4rem;
  min-height: calc(100vh - 70px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #0590fd;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 16vh; }
    main#home h2 {
      margin-bottom: 0; }
    main#home p {
      margin-top: 0;
      font-size: 1.2rem; }
    main#home .buttons {
      margin-top: 2rem; }
      main#home .buttons a {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0.4rem 1rem;
        margin-right: 1rem;
        border: solid 2px #eee;
        border-radius: 20px;
        transition: all 0.5s ease-out; }
        main#home .buttons a:hover {
          border-color: #01579b;
          background-color: rgba(1, 87, 155, 0.8);
          transition: all 0.5s ease-out; }
    main#home .icons {
      position: fixed;
      width: 100%;
      bottom: 10%; }

#about,
#work {
  padding: 1.5rem 4rem; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bio bio bioimage" "skill1 skill2 skill3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .img-wrap {
    grid-area: bioimage;
    margin: auto;
    width: 180px;
    height: 180px; }
  .about-info .bio-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 3px #eee; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.2rem; }
    .about-info .bio h3 {
      font-weight: 600; }
    .about-info .bio p {
      margin-top: 0.4rem; }
  .about-info .skill-1 {
    grid-area: skill1; }
  .about-info .skill-2 {
    grid-area: skill2; }
  .about-info .skill-3 {
    grid-area: skill3; }
  .about-info .skill {
    background: #0179d8;
    padding: 0.5rem;
    border-bottom: 5px solid #eee;
    border-radius: 8px; }
    .about-info .skill p {
      margin: 0.6rem 0; }
  .about-info .language {
    margin-top: 0.8rem;
    width: 150px; }

#work h1,
#work h2 {
  padding-left: 1.25rem; }

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 16px;
  justify-content: center;
  align-items: center; }
  .projects .item {
    margin: 1rem; }
  .projects .img-wrap {
    overflow: hidden;
    position: relative; }
    .projects .img-wrap:hover img {
      opacity: 0.6;
      border-color: white;
      transition: all 0.5s ease-out; }
    .projects .img-wrap:hover .link-wrap {
      opacity: 1;
      transition: all 0.5s ease-out; }
  .projects img {
    max-width: 400px;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: 3px #eee solid;
    border-radius: 6px; }
  .projects .link-wrap {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 3px;
    width: calc(100% - 6px);
    padding: 8px; }
  .projects a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px; }
    .projects a:hover {
      color: #ddd;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }
  .boxes .contact-image {
    max-width: 500px;
    margin-right: 40px; }
  .boxes .image {
    width: 100%; }
  .boxes .contact-box {
    font-size: 1.4rem;
    padding-right: 2rem;
    font-weight: 400;
    transition: all 0.5s ease-out; }
    .boxes .contact-box p {
      color: #ddd; }
    .boxes .contact-box span {
      margin-right: 0.8rem;
      transition: all 0.5s ease-out; }
    .boxes .contact-box .icons {
      margin-top: 5rem; }
  .boxes .info:hover span {
    color: #eee; }
  .boxes .info:hover {
    color: #fff; }

#main-footer {
  text-align: center;
  padding: 1.5rem;
  background: #012c4f;
  color: #fff;
  height: 70px; }

@media screen and (min-width: 1171px) {
  #contact .lg-heading,
  #contact .sm-heading {
    margin-left: 10rem; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .boxes .contact-image {
    max-width: 380px;
    margin-right: 32px; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  .menu.show {
    width: 100%; }
  #home .icons {
    left: 50%;
    transform: translateX(-50%); }
  #about .lg-heading,
  #work .lg-heading,
  #contact .lg-heading {
    font-size: 3.5rem; }
  #about .sm-heading,
  #work .sm-heading,
  #contact .sm-heading {
    font-size: 1.3rem; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "skill1" "skill2" "skill3";
    grid-template-columns: 1fr; }
  .projects .item {
    margin: 0.7rem; }
  .boxes .contact-image {
    display: none; }
  .boxes .contact-box {
    margin-top: 2rem;
    align-content: center;
    padding: 0 2rem; }
    .boxes .contact-box .info {
      text-align: start; }
    .boxes .contact-box .icons {
      position: fixed;
      bottom: 12%;
      left: 50%;
      transform: translateX(-50%); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
