@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.lg-heading {
    font-size: 5.5rem;
  }
  &.sm-heading {
    margin-bottom: 1.8rem;
    padding: 0.2rem 0;
    // background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-primary {
  color: lighten($primary-color, 10);
}

.text-secondary {
  color: darken($secondary-color, 10);
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 70px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: lighten($primary-color, 20);
        @include transition;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

#about,
#work {
  padding: 1.5rem 4rem;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio bio bioimage"
    "skill1 skill2 skill3";
  grid-template-columns: repeat(3, 1fr);

  .img-wrap {
    grid-area: bioimage;
    margin: auto;
    width: 180px;
    height: 180px;
  }
  .bio-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 3px #eee;
  }
  .bio {
    grid-area: bio;
    font-size: 1.2rem;
    h3 {
      font-weight: 600;
    }
    p {
      margin-top: 0.4rem;
    }
  }
  .skill-1 {
    grid-area: skill1;
  }
  .skill-2 {
    grid-area: skill2;
  }
  .skill-3 {
    grid-area: skill3;
  }

  .skill {
    background: lighten($primary-color, 12);
    padding: 0.5rem;
    border-bottom: 5px solid #eee;
    border-radius: 8px;
    p {
      margin: 0.6rem 0;
    }
  }
  .language {
    margin-top: 0.8rem;
    width: 150px;
  }
}

// work/Projects
.projects {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .item {
    margin: 1rem;
  }
  .img-wrap {
    overflow: hidden;
    position: relative;
    &:hover img {
      opacity: 0.6;
      // transform: scale(1.1);
      border-color: white;
      @include transition;
    }
    &:hover .link-wrap {
      opacity: 1;
      @include transition;
    }
  }
  img {
    max-width: 500px;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: 3px #eee solid;
    border-radius: 6px;
  }
  .link-wrap {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 3px;
    width: calc(100% - 6px);
    padding: 8px;
  }
  a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    &:hover {
      color: #ddd;
      @include transition;
    }
  }
}

// contact page
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .contact-image {
    max-width: 550px;
    margin-right: 20px;
  }

  .image {
    width: 100%;
  }

  .contact-box {
    font-size: 1.5rem;
    border: solid 3px #eee;
    border-radius: 8px;
    padding: 0.6rem 2rem;
    font-weight: 400;
    @include transition;

    &:hover {
      // background-color: lighten($primary-color, 4);
    }
    span {
      margin-right: 0.8rem;
      @include transition;
    }
  }
  .info:hover span {
    color: #eee;
  }
}

#main-footer {
  text-align: center;
  padding: 1.5rem;
  background: darken($primary-color, 15);
  color: set-text-color($primary-color);
  height: 70px;
}

@import "mobile";
